<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>An Error has Occurred!</h1>
        <h2>500 Error!</h2>
        <h2>We are working diligently on fixing this issue! Sorry for the inconvenience!</h2>
    </main>
<%- include('includes/end.ejs') %>